.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.item {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.active {
    margin: 0 5px;
    color: gold;
    text-decoration: none;
}