.nav {
    display: flex;
}

.item {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 19px;
}

.active {
    margin: 0 5px;
    color: gold;
    text-decoration: none;
}