* {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

header, main, footer, article, aside, hgroup, menu, nav, section, details, figcaption, figure {
    display: block;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: #8fc4ef;
    min-height: 100vh;
}

.container {
    height: 100%;
    width: 50%;
    margin: 80px auto;
    background-color: #8fc4ef;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 32px 0;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

b {
    font-weight: bold;
}